<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ateliê Online</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1 class="header-title">Ateliê Online</h1>
            <nav class="nav">
                <a href="cadastro.html" class="btn">Serviços</a>
                <a href="#" class="btn">Login</a>
                <a href="{{ url_for('main.rota_cadastro') }}" class="btn">Cadastro</a>
                <a href="#" class="btn">Desenvolvedores</a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        <section class="intro">
            <h2>O que encontrar?</h2>
            <p>No ateliê online você pode, sem sair de casa, pesquisar valores de modelos de peças para costumizar, confeccionar e concertar. Um delívery para seu estilo.</p>
        </section>

        <section class="services-list">
            <h2>Nossos Serviços</h2>
            {% if servicos %}
                <ul>
                    {% for servico in servicos %}
                        <li>
                            <strong>Categoria:</strong> {{ servico.categoria }} <br>
                            <strong>Tipo:</strong> {{ servico.tipo }} <br>
                            <strong>Detalhes:</strong> {{ servico.detalhes }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum serviço disponível no momento.</p>
            {% endif %}
        </section>
    </main>

    <footer class="footer">
        <p>Rua VejaBem n° 404 bairro:Python SP capital</p>
    </footer>

</body>
</html>

